html { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body {
    background: transparent;
}

header div.collapse {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px !important;
}

#mainMenu a:hover{
    color: red;
}

#mainMenu a.active{
    color: red;
}