{% extends 'base.html' %}
{% block page_title %}Add review{% endblock %}
{% block custom_css %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="row p-3 justify-content-center">
    <div class="col-8">
        <h1>Add a review about "{{ dealer.full_name }}"</h1>
        <form class="row border-secondary p-3" method="post" action="{% url 'djangoapp:add_review' dealer.id %}">
            {% csrf_token %}
            <div class="row mb-3">
                <label class="col-form-label" for="review">Your review:</label>
                <div class="col">
                    <textarea class="form-control" id="review" name="review" rows="2" required></textarea>
                </div>  
            </div>
            <div class="row mb-3">
                <div class="col">  
                    <div class="form-check">  
                        <input type='hidden' value='0' name="purchasecheck" id="purchasecheckhidden">              
                        <input class="form-check-input" value="purchased" type="checkbox" name="purchasecheck" id="purchasecheck">                        
                        <label for="purchasecheck">Has purchased the car from "{{ dealer.full_name }}"?</label>
                    </div>
                </div>
            </div>
            <div class="collapse" id="purchase_details">
                <div class="row mb-3">
                    <label class="col-form-label" for="car">Select your car:</label>
                    <div class="col-md-6">
                        <select name="car" id="car" class="form-select">
                            {% for car in cars %}
                                <option selected value={{car.id}}>{{ car.name }} {{ car.make.name }} {{ car.Year | date:'Y'}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">            
                    <label class="col-form-label" for="purshaseDate">Select your purshase date</label>
                    <div class="col-md-6">
                        <input id="purshaseDate" name="purshase_date" class="form-control" type="date" />
                    </div>
                </div>                
            </div>
            <div class="col"> 
                <button class="btn btn-primary" type="submit">SEND REVIEW</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block custom_js %}
<script>
    purshase_details = document.getElementById('purchase_details')
    checkBox = document.getElementById('purchasecheck').addEventListener('click', event => {
        if(event.target.checked) {
            purshase_details.style.display = 'block';
        } else {
            purshase_details.style.display = 'none'
        }
    });
</script> 
{% endblock %}