{% extends 'base.html' %}
{% block page_title %}About us{% endblock %}
{% block content %}
<div class="row p-3">
    <div class="col text-center">
        <h1>Best Cars</h1>
        <p>Feel free to contact us, wish you get a reply you deserve</p>
    </div>
</div>
<div class="row p-3">
    <div class="col bg-light p-3 m-3 border rounded">
        <p>
            <b>Head Office:</b><br>
            Location: New Jersey, somewhere<br>
            Phone: +121313112 <br>
            Email: something@gmail.com<br>
        </p>
    </div>
    <div class="col bg-light p-3 m-3 border rounded">
        <p>
            <b>Сomplaints Department:</b><br>
            Location: New Jersey, somewhere<br>
            Phone: +121313188 <br>
            Email: noreply@gmail.com<br>
        </p>
    </div>
    <div class="col bg-light p-3 m-3 border rounded">
        <p>
            <b>Sales Department:</b><br>
            Location: New Jersey, somewhere<br>
            Phone: +121300000 <br>
            Email: sales@gmail.com<br>
        </p>
    </div>
</div>
{% endblock %}